button {
    background-color: var(--bg-light);
    border: 2px solid var(--border);
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 200px;
    text-align: center;
    gap: 50px;
    background-color: var(--bg);
}