@import "./palette.css";

@font-face {
    font-family: 'Reckless Neue';
    src: url('/fonts/reckless-neue-regular.woff2') format('woff2'),
        url('/fonts/reckless-neue-regular.woff') format('woff');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Reckless Neue", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Arial, Helvetica, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text);
    width: 100%;
    height: 100%;
}



