:root {
    /* hsl (fallback color) */
    --bg-dark: hsl(224 0% 1%);
    --bg: hsl(224 0% 4%);
    --bg-light: hsl(224 0% 9%);
    --text: hsl(224 0% 95%);
    --text-muted: hsl(224 0% 69%);
    --highlight: hsl(224 0% 39%);
    --border: hsl(224 0% 28%);
    --border-muted: hsl(224 0% 18%);
    --primary: hsl(177 49% 56%);
    --secondary: hsl(352 65% 75%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
    /* oklch */
    --bg-dark: oklch(0.1 0 191);
    --bg: #0b0b0b;
    --bg-light: #161616;
    --text: oklch(0.96 0 191);
    --text-muted: oklch(0.76 0 191);
    --highlight: oklch(0.5 0 191);
    --border: oklch(0.4 0 191);
    --border-muted: oklch(0.3 0 191);
    --primary: oklch(0.76 0.1 191);
    --secondary: oklch(0.76 0.1 11);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
}

body.light {
    /* hsl (fallback color) */
    --bg-dark: hsl(224 0% 90%);
    --bg: hsl(224 0% 95%);
    --bg-light: hsl(224 100% 100%);
    --text: hsl(224 0% 4%);
    --text-muted: hsl(224 0% 28%);
    --highlight: hsl(224 100% 100%);
    --border: hsl(224 0% 50%);
    --border-muted: hsl(224 0% 62%);
    --primary: hsl(179 100% 8%);
    --secondary: hsl(348 44% 31%);
    --danger: hsl(9 21% 41%);
    --warning: hsl(52 23% 34%);
    --success: hsl(147 19% 36%);
    --info: hsl(217 22% 41%);
    /* oklch */
    --bg-dark: oklch(0.92 0 191);
    --bg: oklch(0.96 0 191);
    --bg-light: oklch(1 0 191);
    --text: oklch(0.15 0 191);
    --text-muted: oklch(0.4 0 191);
    --highlight: oklch(1 0 191);
    --border: oklch(0.6 0 191);
    --border-muted: oklch(0.7 0 191);
    --primary: oklch(0.4 0.1 191);
    --secondary: oklch(0.4 0.1 11);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260); 
}