.navbar {
    padding: 47px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Zilla Slab", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--bg);
    font-weight: 700;
    font-size: x-large;
    border: 1px solid var(--border-muted);
}

.navlist {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Zilla Slab", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    list-style: none;
}

.logoText,
.navlist > li > a{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    color: var(--text);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navlist li a:hover {
    background-color: var(--bg-light);
    transform: scale(1.1);
}
